
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 98vh;
  align-items: center;
  background-color:#374330ec ;
}

h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
}

.players {
  font-size: 2rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
}

#butOne {
  border-radius: 15px;
  font-size: 1.5rem;
  color:#5d7052;
}
#butOne:hover {
  background-color: aliceblue;
}

#butTwo {
  border-radius: 15px;
  font-size: 1.5rem;
  color: #5d7052;
}
#butTwo:hover {
  background-color: aliceblue;
}

button {
  width: 20vw;
  height: 20vw;
  font-weight: bold;
  font-size: 50px;
  margin: 1vw;
  float: left;
  background-color: #e3cd8b;
}

#game {
  background-color: #5d7052;
  margin: 0 auto;
  padding: 10px;
  width: 66vw;
}

#game div {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}
.hidden {
  display: none;
}


.restarts {
     border-radius: 15px;
     font-size: 1.5rem;
     color: #5d7052;
     width: 435px;
     font-size: 2rem;
}


.morpion {
  display: none;
}

@media all and (min-width: 954px) {
     button {
       width: 15vw;
       height: 15vw;
       margin: 0.5vw;
     }
     #game {
       margin: 0 auto;
       padding: 10px;
       width: 48vw;
     }
     


   }